<!DOCTYPE html>
<html lang="en">


<!-- profile22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/stylesheets/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/stylesheets/assets/js/html5shiv.min.js"></script>
		<script src="/stylesheets/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a class="logo">
					<img src="/stylesheets/assets/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                   
                    <div class="dropdown-menu notifications">
                      
                        <div class="drop-scroll">
                           
                       
                    </div>
                </li>
               
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="<%=doctor.image%>" width="40" alt="Admin">
							</span>
                        <span>Doctor</span>
                    </a>
					<div class="dropdown-menu">
						
					
						
						<a class="dropdown-item" href="/doctor/logout">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                   
                 
                    
                    <a class="dropdown-item" href="/doctor/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/allPatients"><i class="fa fa-hospital-o"></i> <span>All Patients</span></a>
                        </li>
                        <li>
                            <a href="/patients"><i class="fa fa-wheelchair"></i> <span>My Patients</span></a>
                        </li>
                      
                        <li >
                            <a href="/allDoctors"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>                      
        <div class="page-wrapper">
             <div class="content"> 
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h3><%=doctors.length%></h3>
								<span class="widget-title1">Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3><%=patients.length%></h3>
                                <span class="widget-title2">All Patients <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3><%= myPatient.length%></h3>
                                <span class="widget-title3">My Patients <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>0</h3>
                                <span class="widget-title4">Pending <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					
				
				</div>
                <div class="col-sm-7 col-6">
                     <h5 class="page-title"> WELCOME TO DASHBOARD</h5>
                 </div>
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <a href="#"><img class="avatar" src="<%=doctor.image%>" alt=""></a>
                                    </div>
                                </div>
                              
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <h3 class="user-name m-t-0 mb-0"><%=doctor.DoctorsName %></h3>
                                                <small class="text-muted">Resident Doctor</small>
                                                <div class="staff-id">Doctor ID : <%=doctor._id%></div>
                                                <div class="staff-msg"><a href="/editDoctorPage" class="btn btn-primary">Edit Profile</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Phone:</span>
                                                    <span class="text"><a href="#"><%=doctor.phoneNumber%></a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text"><a href="#"><%=doctor.email%></a></span>
                                                </li>
                                           
                                                <li>
                                                    <span class="title">Gender:</span>
                                                    <span class="text"><%=doctor.gender%></span>
                                                </li>
                                                <li>
                                                    <span class="title">Specializaton:</span>
                                                    <span class="text"><%=doctor.specialization%></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                
			
          
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/stylesheets/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/stylesheets/assets/js/popper.min.js"></script>
    <script src="/stylesheets/assets/js/bootstrap.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.slimscroll.js"></script>
    <script src="/stylesheets/assets/js/app.js"></script>
</body>


<!-- profile23:03-->
</html>
